<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,36},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>menu_arrow_left_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>menu_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,610},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,544},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,544},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,544},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,70},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>menu_layer_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{309,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,269}}</string>
                <key>sourceSize</key>
                <string>{309,269}</string>
            </dict>
            <key>menu_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,490},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,97},{88,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{88,24}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_level_selected_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>menu_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,269}}</string>
                <key>sourceSize</key>
                <string>{309,269}</string>
            </dict>
            <key>menu_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{109,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{109,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0cd2aa6407da96dd7ebf3a4fc8e12f$</string>
            <key>textureFileName</key>
            <string>menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
